.navbar
{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.navbar-menu
{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar-menu li
{
	border-right: 1px solid #ccc;
	flex: 1;
	text-align: center;
}
.navbar-menu li a
{
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.navbar-menu li a:hover
{
	background-color: #ddd;
	color: #000;
}
.navbar-menu li:last-child
{
	border-right: none;
}
.navbar-toggler
{
	display: none;
}
.navbar-toggler-icon
{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 24px;
	width: 24px;
}
.navbar-toggler-icon span
{
	background-color: #333;
	display: block;
	height: 2px;
	margin: 4px 0;
	width: 100%;
}
.tab-btn
{
	background-color: #eee;
	border: none;
	color: #444;
	cursor: pointer;
	float: left;
	font-size: 17px;
	outline: none;
	padding: 14px 16px;
	width: 25%;
}
.tab-btn
{
	background-color: lightgray;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
}
.tab-btn.active
{
	background-color: gray;
	color: white;
}
.tab-btn:hover
{
	background-color: #ddd;
}
.tab-btn-container {
  display: flex;
  justify-content: space-between;
}

.tab-btn {
  width: 100%;
}


.tab-btns
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.tab-content
{
	display: none;
	padding: 6px 12px;
}

.tab-content.active
{
	display: block;
}




@media (max-width:600px)
{
	.navbar-menu
	{
		background-color: #333;
		display: none;
		flex-direction: column;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 60px;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out,opacity 0.3s ease-in-out;
		width: 100%;
	}
	.navbar-menu li
	{
		border-right: none;
		border-top: 1px solid #ccc;
	}
	.navbar-menu li:first-child
	{
		border-top: none;
	}
	.navbar-toggler
	{
		display: block;
	}
	.navbar-toggler:checked+.navbar-toggler-icon+.navbar-menu
	{
		display: flex;
		opacity: 1;
		overflow: hidden;
		transform: translateX(0);
	}



	
}
body
{
	background-color: #f1f1f1;
	font-family: Arial,sans-serif;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer
{
	background-color: #333;
	box-sizing: border-box;
	color: white;
	padding: 20px;
	text-align: center;
}
header
{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
header
{
	align-items: center;
	background-color: #333;
	box-sizing: border-box;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
header a
{
	color: white;
	font-size: 14px;
	text-decoration: none;
}
header h1
{
	font-size: 24px;
	margin: 0;
}
main
{
	background-color: white;
	box-sizing: border-box;
	margin: 20px auto;
	max-width: 800px;
	padding: 20px;
	height: 100%;
	flex: 1;
}
main
{
	margin-top: 100px;
}
nav li
{
	border-right: 1px solid #ccc;
	flex: 1;
	text-align: center;
}
nav li a
{
	color: white;
	display: block;
	padding: 20px;
	text-decoration: none;
}
nav li a:hover
{
	background-color: #ddd;
	color: #000;
}
nav li:last-child
{
	border-right: none;
}
nav ul
{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
table
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 ratio */
	height: 0;
	overflow: hidden;
  }
  
  .iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
/*
     FILE ARCHIVED ON 02:45:08 Feb 17, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:54:36 Mar 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 83.345
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.099
  cdx.remote: 0.084
  esindex: 0.011
  LoadShardBlock: 48.371 (3)
  PetaboxLoader3.datanode: 243.634 (4)
  load_resource: 253.375
  PetaboxLoader3.resolve: 42.488
*/